<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap os="!windows" dll="opencv_calib3d231" target="libopencv_calib3d.so" />
  <dllmap os="!windows" dll="opencv_contrib231" target="libopencv_contrib.so" />
  <dllmap os="!windows" dll="opencv_core231" target="libopencv_core.so" />
  <dllmap os="!windows" dll="opencv_features2d231" target="libopencv_features2d.so" />
  <dllmap os="!windows" dll="opencv_flann231" target="libopencv_flann.so" /> 
<!--  <dllmap dll="opencv_gpu231.dll" target="libopencv_gpu.so" /> -->
  <dllmap os="!windows" dll="opencv_highgui231" target="libopencv_highgui.so" />
  <dllmap os="!windows" dll="opencv_imgproc231" target="libopencv_imgproc.so" />
  <dllmap os="!windows" dll="opencv_legacy231" target="libopencv_legacy.so" />
<!--  <dllmap dll="opencv_ml231.dll" target="libopencv_ml.so" /> -->
  <dllmap os="!windows" dll="opencv_objdetect231" target="libopencv_objdetect.so" />
  <dllmap os="!windows" dll="opencv_video231" target="libopencv_video.so" />
</configuration>